NODE_ENV=development
PORT=4000

DATABASE_URL=postgres://postgres:shriyam@localhost:5432/UDHD
JWT_ACCESS_SECRET=2zPgfyMh7tEbBXlcQ+sRwCSwwxrHP4NJRrDXJPRFuso=
JWT_REFRESH_SECRET=lfUwqqRLYxOh0mzPhH8KJdQAqi1hDh2f6w2Qptbe/Lc=
ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_SECONDS=2592000

CORS_ALLOWED_ORIGINS=http://localhost:5173

UPSTASH_REDIS_REST_URL=https://better-kiwi-140998.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAibGAAIgcDI4MmE1MWQwZGY1MzI0MGM1YjBiMjgxNWYyMmM3ZjgyOA

UPLOADTHING_TOKEN=

COOKIE_DOMAIN=
